{% load i18n %}
<style type="text/css">
    .card{
        /*height: 100px;*/
        border: 1px solid !important;
        -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.18);
        box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.18);
    }
</style>
<div class="row">
    {% for item in outcomes %}
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 col-12">
            <div class="card">
                <div class="row m-0 pb-1 pt-2">
                    <div class="col-9">
                        <a href="{% url 'detail-outcome' item.id %}">
                            <span>{{ item.name }}</span>
                        </a>
                    </div>
                    <div class="col-3 p-0">
                        {% if item.finished %}
                            <span class="badge badge-success">Finished</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row m-0">
                  <div class="col-5 pr-0">
                      <span style="font-size: 90%;">{% blocktrans %}Order Date{% endblocktrans %}:</span>
                  </div>
                  <div class="col-7 pr-0">
                      <span>{{ item.order_date}}</span>
                  </div>
                </div>
                <div class="row m-0">
                  <div class="col-5 pr-0">
                      <span style="font-size: 90%;">{% blocktrans %}Client{% endblocktrans %}:</span>
                  </div>
                  <div class="col-7 pr-0">
                      <span style="font-size: 90%;">{{ item.client.name }}</span>
                  </div>
                </div>
                <div class="row m-0">
                  <div class="col-5 pr-0">
                      <span style="font-size: 90%;">{% blocktrans %}Cube{% endblocktrans %}:</span>
                  </div>
                  <div class="col-7 pr-0">
                      <span style="font-size: 90%;">{{ item.cube }} mm<sup>3</sup></span>
                  </div>
                </div>
                <div class="row m-0">
                  <div class="col-5 pr-0">
                      <span style="font-size: 90%;">{% blocktrans %}Weight{% endblocktrans %}:</span>
                  </div>
                  <div class="col-7 pr-0">
                      <span style="font-size: 90%;">{{ item.sum_weight }} g</span>
                  </div>
                </div>
            </div>
        </div>
    {% endfor%}
    {% if paginator.num_pages > 1 %}
        {% include 'widgets/pagination.html' %}
      <script type="text/javascript">
        $(".page_link").on('click', function(){
          $.ajax({
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            url: '{% url "ajax-grid-outcomes" %}',
            data: {
              'search_key': $("#search_box").val(),
              'page': $(this).data("id"),
              'selected_client': $("#sel_client").val().join(),
              'selected_owner': $("#sel_owner").val().join(),
              'start_date': start_date,
              'end_date': end_date,
            },
            type: 'POST',
            success: function (data) {
              $("#div_content").html(data);
            }
          });
        });
      </script>
    {% endif %}
    
</div>