{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<link href="{% static 'css/app.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap/bootstrap-select.min.css' %}" rel="stylesheet">
<link href="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'plugins/icheck/skins/all.css' %}" rel="stylesheet">
<script src="{% static 'js/bootstrap/bootstrap-select.min.js' %}"></script>
<script src="{% static 'plugins/icheck/icheck.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
<style>
	label{
		margin-bottom: 0px;
		text-transform: uppercase;
		font-size: 80%;
	}
	.form-group{
		margin-bottom: 15px;
	}
	.child-card{
        height: 100px;
        border: 1px solid !important;
        -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.18);
        box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.18);
        margin-bottom: 15px;
    }
    h2{
		margin-bottom: 0px;
	}

</style>
<div class="container-fluid">
	<div class="block-header row m-0">
		<div class="col-12 col-md-7">
			<h2 class="mr-auto"><a href="{% url 'transports' %}">{% blocktrans %}Transport{% endblocktrans %}</a> / {{ transport.name }}</h2>
		</div>
		<div class="col-12 col-md-5">
			<a href="{% url 'update-transport' transport.id %}" class="btn btn-new mr-2">{% blocktrans %}EDIT{% endblocktrans %}</a>
		</div>
	</div>
	<div class="row clearfix mt-2">
		<div class="col-12">
			<div class="card">
		        <div class="card-body">
	            	<div class="row ml-0 mr-0 mb-2 mt-2">
	            		<div class="col-12 col-md-2">
	            			<div class="col-12 row m-0 p-0" style="border-bottom: 1px solid #d5d5d5;">
								<div class="col-7 pl-1 pr-1">
									<span>{% blocktrans %}Purchase Name{% endblocktrans %}:</span>
								</div>
								<div class="col-5 pl-0 pr-1">
									<span style="color:#000;">{{ transport.purchase.name }}</span>
								</div>
							</div>
	            		</div>
	            		<div class="col-12 col-md-2">
	            			<div class="col-12 row m-0 p-0" style="border-bottom: 1px solid #d5d5d5;">
								<div class="col-6 pl-1 pr-1">
									<span>{% blocktrans %}Supplier{% endblocktrans %}:</span>
								</div>
								<div class="col-6 pl-0 pr-1">
									<span style="color:#000;">{{ transport.purchase.supplier.name }}</span>
								</div>
							</div>
	            		</div>
	            		<div class="col-12 col-md-2">
	            			<div class="col-12 row m-0 p-0" style="border-bottom: 1px solid #d5d5d5;">
								<div class="col-6 pl-1 pr-1">
									<span>{% blocktrans %}Order Date{% endblocktrans %}:</span>
								</div>
								<div class="col-6 pl-0 pr-1">
									<span style="color:#000;">{{ transport.purchase.order_date }}</span>
								</div>
							</div>
	            		</div>
	            		<div class="col-12 col-md-2">
	            			<div class="col-12 row m-0 p-0" style="border-bottom: 1px solid #d5d5d5;">
								<div class="col-6 pl-1 pr-1">
									<span>{% blocktrans %}Departure{% endblocktrans %}:</span>
								</div>
								<div class="col-6 pl-0 pr-1">
									<span style="color:#000;">{{ transport.departure }}</span>
								</div>
							</div>
	            		</div>
	            		<div class="col-12 col-md-1 text-center">
	            			{% if transport.container == 0 %}
	            				<i class="fas fa-2x fa-ship"></i>
	            			{% else %}
	            				<i class="fas fa-2x fa-truck"></i>
	            			{% endif %}
	            		</div>
	            		<div class="col-12 col-md-2">
	            			<div class="col-12 row m-0 p-0" style="border-bottom: 1px solid #d5d5d5;">
								<div class="col-6 pl-1 pr-1">
									<span>{% blocktrans %}Arrival{% endblocktrans %}:</span>
								</div>
								<div class="col-6 pl-0 pr-1">
									<span style="color:#000;">{{ transport.arrival }}</span>
								</div>
							</div>
	            		</div>
	            		
		            </div>
		            <div class="row m-0">
		            	<div class="col-12 mt-3">
							<div class="card">
								<div class="card-header">
									<h2 >{% blocktrans %}Ordered Item List{% endblocktrans %}</h2>
								</div>
								<div>
					            	<div class="table-responsive">
								        <table class="table table-bordered table-striped">
									        <thead>
									            <tr>
									                <th width="7%">{% blocktrans %}Picture{% endblocktrans %}</th>
									                <th width="9%">{% blocktrans %}Ref{% endblocktrans %}</th>
									                <th width="13%">{% blocktrans %}Name{% endblocktrans %}</th>
									                <th width="12%">{% blocktrans %}Category{% endblocktrans %}</th>
									                <th width="15%">{% blocktrans %}Quantity{% endblocktrans %}</th>
									                <th width="35%" class="text-center">{% blocktrans %}Income & Valid{% endblocktrans %}</th>
									            </tr>
									        </thead>
									        <tbody>
									          {% for item in items %}
									            <tr>
									                <td class="text-center p-2">
									                    {% if item.stock.picture %}
									                      <img src="{{item.stock.picture.url}}" alt="" style="max-width: 85px;max-height: 85px;"/>
									                    {% else %}
									                      <i class="far fa-4x fa-image pl-1 pr-1" ></i>
									                    {% endif %}
									                </td>
									                <td>{{ item.stock.reference }}</td>
									                <td>{{ item.stock.name }}</td>
									                <td>{{ item.stock.category.name }}</td>
									                <td class="p-1">
									                    <div class="row m-0">
									                        <div class="col-7 pl-0 pr-1">
									                            {% blocktrans %}Ordered{% endblocktrans %} :
									                        </div>
									                        <div class="col-5 p-0">
									                            {{ item.order_quantity }} pcs
									                        </div>
									                    </div>
									                    {% if item.income_sum %}
									                    <div class="row m-0">
									                        <div class="col-7 pl-0 pr-1">
									                            {% blocktrans %}Income{% endblocktrans %} :
									                        </div>
									                        <div class="col-5 p-0 text-primary font-weight-bold">
									                            {{ item.income_sum }} pcs
									                        </div>
									                    </div>
									                    {% endif %}
									                    {% if item.valid_sum %}
									                    <div class="row m-0">
									                        <div class="col-7 pl-0 pr-1">
									                            {% blocktrans %}Valid{% endblocktrans %} :
									                        </div>
									                        <div class="col-5 p-0 text-success font-weight-bold">
									                            {{ item.valid_sum }} pcs
									                        </div>
									                    </div>
									                    {% endif %}
									                </td>
									                <td class="p-1">
									                    {% for child in item.childs %}
									                        {% if child.income_date %}
									                            <div class="row pt-1 pb-1 ml-0 mr-0" style="border-bottom: 1px solid #d5d5d5;">
									                                <div class="col-6 pl-1 pr-0 " style="border-right: 1px solid #c3c3c3;">
									                                    {{ child.income_date|date:'yy-m-d' }}:
									                                    <span data-toggle="tooltip" title="{{ child.income_description }}" data-placement="bottom" class="text-primary">
									                                        {{ child.income_quantity }} pcs
									                                    </span>
									                                </div>
									                                
									                                {% if child.valid_date %}
									                                    <div class="col-6 pr-0 pl-1">
									                                        {{ child.valid_date|date:'yy-m-d' }}:
									                                        <span data-toggle="tooltip" title="{{ child.valid_description }}" data-placement="bottom" class="text-success">
									                                            {{ child.valid_quantity }} pcs
									                                        </span>
									                                    </div>
									                                {% endif %}
									                            </div>
									                        {% endif %}
									                    {% endfor %}
									                </td>
									            </tr>
									          {% endfor %}
									        </tbody>
									    </table>
								    </div>
								</div>
							</div>
						</div>
		            </div>
	            	<div class="row m-0">
	            		<div class="col-12">
							<div class="card">
								<div class="card-header">
									<div class="row">
										<div class="col-12 col-md-7">
											<h2 >{% blocktrans %}Departure Item List{% endblocktrans %}</h2>
										</div>
										<div class="col-6 col-md-3">
											<button id="btn_add" class="btn btn-primary">{% blocktrans %}Add New Item{% endblocktrans %}</button>
										</div>
										<div class="col-6 col-md-2 text-right card_tool">
											<span id="btn_delete" class="" style="font-weight: 700;"><i class="fas fa-trash-alt mr-2"></i></span>
											<span id="grid_view" class="mr-2 ml-2 active"><i class="fas fa-2x fa-th"></i></span>
											<span id="list_view" class="mr-2"><i class="fas fa-2x fa-list-ul"></i></span>
										</div>
									</div>
								</div>
								<div class="pt-4 pb-2" id="div_content">
					        	    
						        </div>
						    </div>
						</div>
					</div>
	            </div>
		    </div>
		</div>
	</div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="head_title">{% blocktrans %}Add Departure Item{% endblocktrans %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        	<form novalidate="" id="myForm">
				<div class="row form-group">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
						<label>{% blocktrans %}Name{% endblocktrans %}</label>
						<select  class="selectpicker form-control" id="stock" name="stock" required data-live-search="true">
	                    	{% for stock in stocks %}
	                    		<option value="{{ stock.id }}">{{ stock.name }}</option>
	                    	{% endfor %}
	                    </select>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
						<label>{% blocktrans %}Quantity{% endblocktrans %}</label>
						<input type="number" class="form-control" id="quantity" name="quantity" step="1" min="1">
					</div>
				</div>
				<input type="hidden" id="transport_id" value="{{ transport.id }}">
				<input type="hidden" id="add_id" value="-1">
			</form>
      </div>
      <div class="modal-footer">
        <button id="btn_save" class="btn btn-primary mr-2">{% blocktrans %}Save{% endblocktrans %}</button>
		<button id="btn_cancel" class="btn btn-light ml-2">{% blocktrans %}Cancel{% endblocktrans %}</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deletModalLabel" aria-hidden="true">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title">{% blocktrans %}DELETE DEPARTURE ITEM{% endblocktrans %}</h5>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
        		</button>
      		</div>
      		<div class="modal-body">
        		<p>{% blocktrans %}Are you sure you want to delete this record?{% endblocktrans %}</p>
        		<input type="hidden" id="arr_checked_val">
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-secondary" data-dismiss="modal">{% blocktrans %}No{% endblocktrans %}</button>
        		<button id="del_confirm" type="button" class="btn btn-primary">{% blocktrans %}Yes{% endblocktrans %}</button>
      		</div>
    	</div>
  	</div>
</div>
<script type="text/javascript">
	
	$("#btn_delete").on('click', function(){
		var arr_checked = [];
		$( ".chk_sub" ).each(function( index ) {
		  if($( this ).prop('checked')){
		  	arr_checked.push($(this).data("id"));
		  }
		});
		if(arr_checked.length == 0){
			return;
		}
		$("#arr_checked_val").val(arr_checked.join());
		$("#deleteModal").modal();
		
	});
	$("#del_confirm").on('click', function(e){
		$.ajax({
			headers: { "X-CSRFToken": '{{csrf_token}}' },
			url: '{% url "ajax-delete-departure-item" %}',
			data: {
				'checked_stocks': $("#arr_checked_val").val(),
			},
			type: 'POST',
			success: function (data) {
				$("#arr_checked_val").val("");
				$("#deleteModal").modal('hide');
				
				if(currentState){
		        	get_list_data();
		        }else{
		        	get_grid_data();
		        }
			}
		});
	});
    $("#btn_add").on('click', function(){
    	$("#add_id").val("-1");
    	$("#addModal").modal();
    });
    $("#btn_cancel").on('click', function(event){
    	$("#head_title").html('{% blocktrans %}Add Departure Item{% endblocktrans %}');
    	$("#add_id").val("-1");
    	$("#quantity").val("");
    	$("#addModal").modal('hide');
    });
	$("#btn_save").on('click', function(event){
		var form = $("#myForm")
		if (form[0].checkValidity() === false) {
			event.preventDefault()
			event.stopPropagation()
			form.addClass('was-validated');
			return;
		}
		$.ajax({
			headers: { "X-CSRFToken": '{{csrf_token}}' },
			url: '{% url "ajax-add-departure-item" %}',
			data: {
				'stock_id': $("#stock").val(),
				'quantity': $("#quantity").val(),
				'add_id': $("#add_id").val(),
				'transport_id': $("#transport_id").val(),
			},
			type: 'POST',
			success: function (data) {
				$("#addModal").modal('hide');
				if(currentState){
		        	get_list_data();
		        }else{
		        	get_grid_data();
		        }
			}
		});
	});
	$("#grid_view").on('click', function(){
		$(this).addClass('active');
		$("#list_view").removeClass('active');
		get_grid_data();
		currentState = false;
	});
	$("#list_view").on('click', function(){
		$(this).addClass('active');
		$("#grid_view").removeClass('active');
		get_list_data();
		currentState = true;
	});
	var currentState = false;
	get_grid_data();
	function get_list_data(){
		$.ajax({
			headers: { "X-CSRFToken": '{{csrf_token}}' },
			url: '{% url "ajax-list-departure-item" %}',
			data: {
				'transport_id': $("#transport_id").val(),
				'page': 1,
			},
			type: 'POST',
			success: function (data) {
				$("#div_content").html(data);
			}
		});
	}
	function get_grid_data(){

		$.ajax({
			headers: { "X-CSRFToken": '{{csrf_token}}' },
			url: '{% url "ajax-grid-departure-item" %}',
			data: {
				'transport_id': $("#transport_id").val(),
				'page': 1,
			},
			type: 'POST',
			success: function (data) {
				$("#div_content").html(data);
			}
		});
	}

</script>
{% endblock %}
