{% load i18n %}
<style type="text/css">
    .card{
        height: 115px;
        border: 1px solid !important;
        -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.18);
        box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.18);
    }
</style>
<div class="row">
    {% for item in brokens %}
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 col-12">
            <div class="card">
                <div class="row m-0 pb-1 pt-2">
                    <div class="col-12">
                        <a href="{% url 'detail-broken' item.supplier.id item.stock.id %}">
                            <span>{{ item.supplier.name }}</span> ~ <span>{{ item.stock.name }}</span>
                        </a>
                    </div>
                </div>
                <div class="row m-0">
                  <div class="col-4 pl-2 pr-1">
                        {% if item.stock.picture %}
                            <img src="{{ item.stock.picture.url }}" alt="" class="pt-2" style="max-width: 99%;max-height: 58px;"/>
                        {% else %}
                            <i class="far fa-4x fa-image" ></i>
                        {% endif %}
                    </div>
                    <div class="col-8">
                        <div class="col-12 pr-0">
                            <span style="font-size: 80%;">{{ item.stock.reference }}</span>
                        </div>
                        <div class="col-12 pr-0">
                            <span style="font-size: 80%;">{{ item.refund_date }}</span>
                        </div>
                        <div class="col-12 pr-0">
                            <span style="font-size: 80%;">Qt: {{ item.quantity }} pcs</span>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    {% endfor%}
    {% if paginator.num_pages > 1 %}
      {% include 'widgets/pagination.html' %}
      <script type="text/javascript">
        $(".page_link").on('click', function(){
          $.ajax({
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            url: '{% url "ajax-grid-refunds" %}',
            data: {
              'search_key': $("#search_box").val(),
              'page': $(this).data('id'),
              'selected_supplier': $("#sel_supplier").val().join(),
              'selected_stock': $("#sel_stock").val().join(),
              'start_date': start_date,
              'end_date': end_date
            },
            type: 'POST',
            success: function (data) {
              $("#div_content").html(data);
            }
          });
        });
      </script>
    {% endif %}
</div>