{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<link href="{% static 'css/app.css' %}" rel="stylesheet">
<link href="{% static 'plugins/icheck/skins/all.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap/bootstrap-select.min.css' %}" rel="stylesheet">
<link href="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'plugins/select2/select2.min.css' %}" rel="stylesheet">
<link href="{% static 'plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet">

<script src="{% static 'plugins/select2/select2.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-select.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'plugins/moment/moment.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<style type="text/css">
	.select2-selection__choice{
		background-color: #009efb !important;
		color: white;
	}
	.select2-selection__choice__remove{
		color: white !important;
	}
	.select2-selection__clear{
		display: none;
	}
	li{
		list-style: none;
	}
	
	h4{
		cursor: pointer;
	}
	.div_filter_row{
		vertical-align: middle;

	}
	
	.div_filter_row i:hover{
		color:#0056b3;
	}
	.mailbox ul{
		width: 300px;
	}
	.mailbox ul li .drop-title{
		padding: 10px;
	}
	#refundForm .form-group{
		margin-bottom: 15px;
	}
</style>
<div class="" style="height: 1px; background-color: white">
</div>
<div class="block-header row m-0 p-3" style="background-color: #875a7b;">
	<div class="col-12 col-md-7 mr-auto">
		<h2 class="mr-auto text-white mb-0 text-uppercase">{% blocktrans %}Brokens{% endblocktrans %}</h2>
	</div>
	<div class="col-8 col-md-3 search_tool p-0">
		<span id="filter" class="mr-4"style="font-weight: 700;"><i class="fas fa-filter mr-2"></i>{% blocktrans %}Filter{% endblocktrans %}</span>
		
        <li class="dropdown">
            <a class="dropdown-toggle text-white waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span id="filter" style="font-weight: 700;">
            		<i class="fas fa-star mr-2"></i>{% blocktrans %}Favorite{% endblocktrans %}
            	</span>
            </a>
            <div class="dropdown-menu mailbox animated bounceInDown" aria-labelledby="2">
                <ul class="p-1 ul_favor_filter">
                    <li>
                        <div class="drop-title">{% blocktrans %}Favorite Filter{% endblocktrans %}</div>
                    </li>
                    <li>
                        <div class="message-center">
                        	{% for favor in favorites %}
                        		<a href="javascript:void(0);">
	                            	<div class="row m-0 div_filter_row">
	                            		
	                            		<div class="col-11 favor_row p-0" data-url="{% url 'favor-broken' favor.id %}">
	                            			<h4 class="mb-0">{{ favor.name }}</h4>
	                            		</div>

	                            		<div class="col-1 p-0">
	                            			<i class="fas fa-trash-alt btn_favor_delete" data-id="{{ favor.id }}"></i>
	                            		</div>
	                            	</div>
                            	</a>
                        	{% endfor %}
                        </div>
                    </li>
                    
                </ul>
            </div>
        </li>
		
	</div>
	<div class="col-4 col-md-2 text-right search_tool p-0">
		<span id="grid_view" class="mr-2 ml-2"><i class="fas fa-2x fa-th"></i></span>
		<span id="list_view" class="mr-2 ml-2 active"><i class="fas fa-2x fa-list-ul"></i></span>
	</div>
</div>
<div class="container-fluid">
	<div class="row clearfix pt-2 pb-2" id="myStickHeader">
		<div class="col-12 col-md-8">
			<a href="{% url 'broken-history' %}" class="btn btn-new mr-2">{% blocktrans %}Refund History{% endblocktrans %}</a>
		</div>
		<div class="col-12 col-md-3 app-search pt-2 float-right">
			<input id="search_box" type="text" class="form-control" placeholder="{% blocktrans %}Search for...{% endblocktrans %}">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-12" id="div_content">

		</div>
	</div>
</div>

<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<h5 class="modal-title" id="exampleModalLabel">{% blocktrans %}Filter{% endblocktrans %}</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
	      	</div>
	      	<div class="modal-body p-3">
	      		<div class="form-group">
            		<div class="col-12 p-0">
	        			<label >{% blocktrans %}Stock{% endblocktrans %}</label><br>
	        			<select class="form-control" id="sel_stock" multiple="multiple">
					  		{% for stk in stocks %}
					  			<option value="{{ stk.id }}" {% if stk.id|stringformat:'i' in sel_stocks %} selected="selected" {% endif%}>{{ stk.name }}</option>
					  		{% endfor%}
						</select>
					</div>
        		</div>
            	<div class="form-group">
            		<div class="col-12 p-0">
	        			<label >{% blocktrans %}Supplier{% endblocktrans %}</label><br>
	        			<select class="form-control" id="sel_supplier" multiple="multiple">
					  		{% for sup in suppliers %}
					  			<option value="{{ sup.id }}" {% if sup.id|stringformat:'i' in sel_suppliers %} selected="selected" {% endif%}>{{ sup.name }}</option>
					  		{% endfor%}
						</select>
					</div>
        		</div>
        		<form novalidate id="favoriteForm">
        			<div class="form-group row m-0">
        				<div class="col-5 p-0">
	        				<input type="checkbox" class="check_modal" id="chk_favorite">
	        				<label for="chk_favorite">{% blocktrans %}Add Favorite{% endblocktrans %}</label>
	        			</div>
	        			<div class="col-7" id="div_name">
	        				<input type="text" class="form-control" id="favorite_name" placeholder="{% blocktrans %}Favorite Name{% endblocktrans %}" required="">
	        			</div>
	        		</div>
        		</form>
	      	</div>

	      	<div class="modal-footer">
		        <button id="btn_close" type="button" class="btn btn-primary">{% blocktrans %}Close{% endblocktrans %}</button>
	      	</div>
	    </div>
  	</div>
</div>
<div class="modal fade" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="refundModalLabel" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<h5 class="modal-title" id="head_title">{% blocktrans %}Refund Broken Stocks{% endblocktrans %}</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
	      	</div>
	      	<div class="modal-body p-3">
	      		<form class="pt-3 pb-3" novalidate id="refundForm" method="POST">
	      			<div class="form-group row m-0 pb-3">
		                <div class="col-6 pl-0 pr-0" style="border-bottom: 1px solid;">
		                	<span>{% blocktrans %}Supplier{% endblocktrans %}:</span>
		                    <span id="supplier_name"></span>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-5 pl-0 pr-0" style="border-bottom: 1px solid;">
		                	<span >{% blocktrans %}Stock{% endblocktrans %}:</span>
		                    <span id="stock_name"></span>
                        </div>
		            </div>
	      			<div class="form-group">
		                <div class="col-xs-12">
		                	<label for="date">{% blocktrans %}Date{% endblocktrans %}</label><span class="text-danger">&nbsp;*&nbsp;</span>
					        <input type="text" class="form-control" id="date" name="date" required="">
                        </div>
		            </div>
		            <div class="form-group">
		                <div class="col-xs-12">
		                	<label for="name">{% blocktrans %}Quantity{% endblocktrans %}</label>
		                    <input type="text" class="form-control" id="quantity" disabled>
                        </div>
		            </div>
		            <div class="form-group">
		                <div class="col-xs-12">
		                	<label for="description">{% blocktrans %}Description{% endblocktrans %}</label>
		                    <textarea  class="form-control" id="description" name="description" row="5"></textarea>
                        </div>
		            </div>
		            <input type="hidden" id="supplier_id">
		            <input type="hidden" id="stock_id">
		            <input type="hidden" id="user_id" value="{{ request.user.id }}">
		        </form>
	      	</div>

	      	<div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% blocktrans %}Cancel{% endblocktrans %}</button>
		        <button id="refund_confirm" type="button" class="btn btn-primary">{% blocktrans %}Save{% endblocktrans %}</button>
	      	</div>
	    </div>
  	</div>
</div>
<script src="{% static 'plugins/icheck/icheck.min.js' %}"></script>
<script src="{% static 'plugins/icheck/icheck_modal.init.js' %}"></script>
<script type="text/javascript">
	$(".selectpicker").selectpicker();
	var date = new Date();
 	var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
 	function formatDate(date) {
	    var d = new Date(date),
	        month = '' + (d.getMonth() + 1),
	        day = '' + d.getDate(),
	        year = d.getFullYear();

	    if (month.length < 2) 
	        month = '0' + month;
	    if (day.length < 2) 
	        day = '0' + day;

	    return [year, month, day].join('-');
	}
	$("#date").datepicker({
		format: "yyyy-mm-dd",
		todayHighlight: true,
	}).on('changeDate', function(e) {
        $.ajax({
			headers: { "X-CSRFToken": '{{csrf_token}}' },
			url: '{% url "ajax-get-brokens-from-date" %}',
			data: {
				'stock_id': $("#stock_id").val(),
				'supplier_id': $("#supplier_id").val(),
				'sel_date': formatDate(e.date.toLocaleDateString()) ,
			},
			type: 'POST',
			success: function (data) {
				$("#quantity").val(data.broken_sum);
			}
		});
    });
	
	jQuery(document).on('click', '.ul_favor_filter', function (e) {
        e.stopPropagation()
    });
    // favorite modal process
    $(".btn_favor_delete").on('click', function(e){
    	$.ajax({
			headers: { "X-CSRFToken": '{{csrf_token}}' },
			url: '{% url "ajax-delete-broken-favorite" %}',
			data: {
				'id': $(this).data("id"),
			},
			type: 'POST',
			success: function (data) {
				location.href = "{% url 'brokens' %}"
			}
		});
    });
    $(".favor_row").on('click', function(e){
    	location.href = $(this).data("url");
    });
	// filter modal process
	options = [];
	$('#sel_supplier option').each(function(idx) {
	    options.push({id: $(this).val(), text: $(this).text()});
	});
	options_owner = [];
	$('#sel_stock option').each(function(idx) {
	    options_owner.push({id: $(this).val(), text: $(this).text()});
	});

	$("#sel_supplier").select2({
	  	tags: true,
	  	width: '100%',
	  	allowClear: true,
	  	createTag: function (params) {
		    var term = $.trim(params.term);
			if (term === '') {
		      return null;
		    }
		    // check whether the term matches an id
		    var search = $.grep(options, function( n, i ) {
		      return ( n.id === term || n.text === term); // check against id and text
		    });
		    // if a match is found replace the term with the options' text
		    if (search.length) 
		      term = search[0].text;
		    else
		      return null; // didn't match id or text value so don't add it to selection
		return {
			id: term,
			text: term,
			value: true // add additional parameters
	    }
	  }
	});
	$("#sel_stock").select2({
	  	tags: true,
	  	width: '100%',
	  	allowClear: true,
	  	createTag: function (params) {
		    var term = $.trim(params.term);
			if (term === '') {
		      return null;
		    }
		    // check whether the term matches an id
		    var search = $.grep(options_owner, function( n, i ) {
		      return ( n.id === term || n.text === term); // check against id and text
		    });
		    // if a match is found replace the term with the options' text
		    if (search.length) 
		      term = search[0].text;
		    else
		      return null; // didn't match id or text value so don't add it to selection
		return {
			id: term,
			text: term,
			value: true // add additional parameters
	    }
	  }
	});
	$("#filter").on('click', function(e){
		$("#filterModal").modal();
	});
	$('#div_name').hide();
	$("#chk_favorite").on('ifChecked', function(){
		$('#div_name').show();
	});
	$("#chk_favorite").on('ifUnchecked', function(){
		$('#div_name').hide();
	});
	$("#btn_close").on('click', function(e){
		if($("#chk_favorite").prop('checked')){
			var form = $("#favoriteForm")
			if (form[0].checkValidity() === false) {
				event.preventDefault()
				event.stopPropagation()
				form.addClass('was-validated');
				return;
			}
			$.ajax({
				headers: { "X-CSRFToken": '{{csrf_token}}' },
				url: '{% url "ajax-add-broken-favorite" %}',
				data: {
					'selected_supplier': $("#sel_supplier").val().join(),
					'selected_stock': $("#sel_stock").val().join(),
					'name': $("#favorite_name").val(),
				},
				type: 'POST',
				success: function (data) {
					if(data.err_code == "1"){
						
					}else if(data.err_code == "2"){
						
					}else{
						$(".message-center").html(data);
						$("#favorite_name").val("");
					}
				}
			});
		}
		if(currentState){
        	get_list_data();
        }else{
        	get_grid_data();
        }
        $("#filterModal").modal('hide');
	});
	// filter process end
	// add Purchase module
	$("#btn_new").on('click', function(){
		$("#addModal").modal();
	});
	$("#refund_confirm").on('click', function(){
		var form = $("#refundForm")
		if (form[0].checkValidity() === false) {
			event.preventDefault()
			event.stopPropagation()
			form.addClass('was-validated');
			return;
		}
		if ($("#quantity").val() != ""){
			$.ajax({
				headers: { "X-CSRFToken": '{{csrf_token}}' },
				url: '{% url "ajax-add-broken-refund" %}',
				data: {
					'stock_id': $("#stock_id").val(),
					'sel_date': $("#date").val(),
					'description': $("#description").val(),
					'supplier_id': $("#supplier_id").val(),
					'quantity': $("#quantity").val(),
					'user_id': $("#user_id").val(),
				},
				type: 'POST',
				success: function (data) {
					location.reload();
				}
			});
		}else{
			form.addClass('was-validated');
		}
		
	})

	
	var currentState = true;
	get_list_data();

	
	$("#grid_view").on('click', function(){
		$(this).addClass('active');
		$("#list_view").removeClass('active');
		get_grid_data();
		currentState = false;
	});
	$("#list_view").on('click', function(){
		$(this).addClass('active');
		$("#grid_view").removeClass('active');
		get_list_data();
		currentState = true;
	});
	$("#search_box").on('keypress',function(e) {
	    if(e.which == 13) {
	        if(currentState){
	        	get_list_data();
	        }else{
	        	get_grid_data();
	        }
	    }
	});
	function get_list_data(){
		$.ajax({
			headers: { "X-CSRFToken": '{{csrf_token}}' },
			url: '{% url "ajax-list-brokens" %}',
			data: {
				'search_key': $("#search_box").val(),
				'page': 1,
				'selected_supplier': $("#sel_supplier").val().join(),
				'selected_stock': $("#sel_stock").val().join(),
			},
			type: 'POST',
			success: function (data) {
				$("#div_content").html(data);
			}
		});
	}
	function get_grid_data(){
		$.ajax({
			headers: { "X-CSRFToken": '{{csrf_token}}' },
			url: '{% url "ajax-grid-brokens" %}',
			data: {
				'search_key': $("#search_box").val(),
				'page': 1,
				'selected_supplier': $("#sel_supplier").val().join(),
				'selected_stock': $("#sel_stock").val().join(),
			},
			type: 'POST',
			success: function (data) {
				$("#div_content").html(data);
			}
		});
	}
</script>
{% endblock %}
