{% load staticfiles %}
{% load i18n %}
{% load mathfilters %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shorcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">  
    <title>{% block title %}{% blocktrans %}TeeMO{% endblocktrans %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/flag-icon-css/flag-icon.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/app.css' %}" rel="stylesheet">
	<style type="text/css">
		.text-new {
			color: white !important;
		}
		.a_new {
			color: white;
			text-decoration: none;
			background-color: transparent;
			-webkit-text-decoration-skip: objects;
		}
	</style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    
    
</head>
<body>
	<div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
        </svg>
    </div>
    <header class="topbar" style="background-color: #6f5468;">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <div class="navbar-collapse" >
                <ul class="navbar-nav mr-auto mt-md-0 ">
                    <li class="nav-item"> 
                        <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                            <i class="fa fa-bars nav_bar"></i>
                        </a> 
                    </li>

                </ul>
                <ul class="navbar-nav my-lg-0">
                    <li class="nav-item dropdown">
                        <b id="selected_lang" class="nav-link dropdown-toggle waves-effect waves-dark text-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-lang="{{LANGUAGE_CODE}}"> 
                            <i class="flag-icon flag-icon-{% if LANGUAGE_CODE == 'en' %}us{% else %}es{% endif %}"></i> {% if LANGUAGE_CODE == 'en' %} {% blocktrans %}English{% endblocktrans %} {% else %} {% blocktrans %}Spanish{% endblocktrans %} {% endif %}
                        </b>
                        <div class="dropdown-menu  dropdown-menu-right animated bounceInDown"> 
                            <b class="dropdown-item item_lang" href="#" data-lang="es"><i class="flag-icon flag-icon-es"></i> {% blocktrans %}Spanish{% endblocktrans %}</b>
                            <b class="dropdown-item item_lang" href="#" data-lang="en"><i class="flag-icon flag-icon-us"></i> {% blocktrans %}English{% endblocktrans %}</b> 
                        </div>
                        <form id="langForm" action="{% url 'set_language' %}" method="POST">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <input name="language" id="val_lang" type="hidden" value="es" />
                        </form>
                    </li>
                    <li class="nav-item dropdown">
                        {% if user.is_authenticated %}
                            <a class="nav-link waves-effect waves-dark pr-0" href="{% url 'profile' request.user.id %}">
                                {% if user.picture %}
                                    <img style="height: 35px;width: 35px; border-radius: 50%;" src="{{user.picture.url}}">
                                {% else %}
                                    <img style="height: 35px;width: 35px; border-radius: 50%;" src="{% static 'images/avatar-default.jpg' %}">
                                {% endif %}
                            </a>
                            <span class="pl-2 pr-3 text-white">{% if user.first_name %}{{ user.first_name}} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}</span>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    </header>
	<section id="wrapper">
		{% block content %}
        {% endblock %}
	</section>
	<!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'js/waves.js' %}"></script>
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <script src="{% static 'js/sticky-kit.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>

    <script src="{% static 'js/custom.min.js' %}"></script>
    <script type="text/javascript">
        $(".item_lang").on('click', function(){
            $("#selected_lang").html($(this).html());
            $("#selected_lang").data('lang', $(this).data('lang'));
            $("#val_lang").val($(this).data('lang'));
            $("#langForm").submit();
        });
        $("#myStickHeader").sticky({
            topSpacing: 70,
            zIndex: '50'
        });
    </script>
</body>
</html>

