{% extends 'base_auth.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    <form action="." id="forgot_password" method="POST" class="floating-labels">
        {% csrf_token %}
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        
        <div class="form-group text-center">
            {% blocktrans %}Specify your email to send you the instructions for password recovery.{% endblocktrans %}
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input type="email" class="form-control" name="email" id="email" required autofocus >
                <span class="bar"></span>
                <label for="email">{% blocktrans %}Email{% endblocktrans %}</label>
                <div class="invalid-feedback">
                    {% blocktrans %}This field is required.{% endblocktrans %}
                </div>
            </div>
        </div>
        <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
                <button class="btn btn-info btn-block text-uppercase waves-effect waves-light" type="submit">{% blocktrans %}Send{% endblocktrans %}</button>
            </div>
        </div>
        <div class="form-group text-center">
            <a href="{% url 'login' %}">{% blocktrans %}Login{% endblocktrans %}</a>
        </div>
    </form>
{% endblock %}