{% extends 'base_auth.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    <form action="." method="POST">
        {% csrf_token %}
        <div class="form-group text-center">
            {% blocktrans %}We have sent the instructions on how to recover the password to the specified email address{% endblocktrans %}
        </div>
        <div class="form-group text-center">
            {% blocktrans %}You will be receiving the mail soon{% endblocktrans %}
        </div>
    </form>
{% endblock %}