{% extends 'base_auth.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    <div class="form-group text-center">
        <h5>{% blocktrans %}Your password has been modified.{% endblocktrans %}</h5>
        <h5>{% blocktrans %}You can now log in again{% endblocktrans %}</h5>   
    </div>
    <div class="form-group text-center">
        <a class="btn btn-block bg-pink waves-effect" type="button" href="{% url 'login' %}">{% blocktrans %}Login{% endblocktrans %}</a>
    </div>
{% endblock %}